<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}" />
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" /> 
		<title>Hello!</title>
		<script src = "{{ url_for('static',filename='js/internal.js') }}"></script>
	</head>

	<body>
		<iframe id="mapframe" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key={{ API_KEY }}&q=0+0" allowfullscreen>
		</iframe>
		<script>fetch_coords()</script>
	</body>
</html>